---
import { projectNostr } from "../../../data";
import NewLayout from "../../../layouts/NewLayout.astro";
import arrow from "../../../assets/images/arrow.png";
import arrowLeft from "../../../assets/images/arrow-left.png";
import LongArrow from "../../../assets/icons/LongArrow";

const pageData = {
  title: "How Angor Works",
  subtitle: "Understanding the Angor Process",
};

const navigateToNext = () => {
  window.location.href = "/next-page";
};
---

<NewLayout title="How Angor Works">
  <div class="flex mt-36 justify-between px-16">
    <button
      class="w-16 h-12 rounded-md flex justify-center bg-angorPrimary items-center"
    >
      <img src={arrowLeft.src} width="36" height="36" />
    </button>

    <div class="mx-auto flex flex-col gap-64">
      <div class="relative">
        <div
          id="circle1"
          class="bg-[#9747FF] scale-0 w-32 h-32 rounded-full flex text-xl justify-center items-center mx-auto"
        >
          <p class="text-[#FFFFFF] text-xl font-bold">Bob</p>
        </div>
        <div
          style="transform: rotate(120deg);"
          class="absolute left-14 top-60 mt-2"
        >
          <LongArrow color={"#D8B9FF"} id={"longArrow1"} />
        </div>
        <div
          style="transform: rotate(60deg);"
          class="absolute right-14 top-60 mt-2"
        >
          <LongArrow color={"#D8B9FF"} id={"longArrow2"} />
        </div>
      </div>
      <div
        id="bigBox"
        class="max-w-2xl h-fit scale-0 pt-4 mt-5 rounded-lg border flex flex-col justify-end border-[#9747FF] bg-[#F1E7FF] px-4"
      >
        <p class="text-[#1D1D1D] font-bold text-xl text-center">
          Bob publishes the project to Nostr and a commitment to the bitcoin
          network
        </p>
        <div
          class="w-full h-48 bg-[#FAFAFA] rounded-2xl px-8 py-6 gap-7 flex flex-col mt-3"
        >
          <div class="flex items-center gap-[11px]">
            <p class="text-[#7B7B7B] font-semibold text-sm">Description:</p>
            <span class="text-[#1D1D1D] font-bold text-base"
              >Urban Green Farms Initiative</span
            >
          </div>
          <div class="flex items-center gap-[11px]">
            <p class="text-[#7B7B7B] font-semibold text-sm">Timeline:</p>
            <span class="text-[#1D1D1D] font-bold text-base">10 Millstones</span
            >
          </div>
          <div class="flex items-center gap-[11px]">
            <p class="text-[#7B7B7B] font-semibold text-sm">
              Required Funding:
            </p>
            <span class="text-[#1D1D1D] font-bold text-base">21 BTC</span>
          </div>
        </div>
        <div class="flex items-center mt-3 gap-1 mb-5">
          {
            projectNostr.map((item, index) => (
              <div class="flex items-center">
                <div class="bg-[#FAFAFA] py-1 px-3 rounded-md mr-1">{item}</div>
                <img
                  src={arrow.src}
                  width={27}
                  height={2}
                  class={`${projectNostr.length - 1 === index ? "hidden" : "flex"}`}
                />
              </div>
            ))
          }
        </div>
      </div>

      <button
        class="w-60 h-14 rounded-md flex justify-center bg-angorPrimary items-center text-[#fff] text-xl font-bold mx-auto my-32"
      >
        Next
      </button>
    </div>

    <!-- <p class="text-center text-xl">Bob has a business model in place and creates a project called <span>"Urban Green Farms Initiative"</span> on Angor, aiming to raise 21 BTC across 10 milestones.</p>
      
      <button class="w-60 h-14 rounded-md flex justify-center  bg-angorPrimary items-center text-[#1D1D1D] text-xl font-bold">
          Next
      </button> -->
  </div>
  <script>
    import { gsap } from "gsap";
    const circle1 = document.getElementById("circle1");
    const longArrow1 = document.getElementById("longArrow1");
    const longArrow2 = document.getElementById("longArrow2");
    const bigBox = document.getElementById("bigBox");
    gsap.to(circle1, { scale: 1, duration: 2 });
    gsap.to(bigBox, { scale: 1, duration: 2, delay: 3 });
    gsap.fromTo(
      [longArrow1, longArrow2],
      { width: "0%", duration: 3, ease: "power2.out", delay: 2 },
      { width: "100%", duration: 3, ease: "power2.out", delay: 2 }
    );
    // gsap.fromTo(
    //   longArrow2,
    //   { width: "0%", duration: 3, delay: 2, ease: "power2.out" },
    //   { width: "100%", duration: 3, delay: 2, ease: "power2.out" }
    // );
  </script>
</NewLayout>
