/* Hero */

.shape-divider-bottom-1665343298 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.shape-divider-bottom-1665343298 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
}
.hero-title-gradient {
  background: -webkit-linear-gradient(white, #cbdde1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Features Top */

.shape-divider-bottom-1665696614 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.shape-divider-bottom-1665696614 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}

/* Features Bottom */

.shape-divider-top-1665696661 {
  overflow: hidden;
  line-height: 0;
}
.shape-divider-top-1665696661 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}
.rubik-moonrocks-regular {
  font-family: "Rubik Moonrocks", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-thin {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.inter-extralight {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
