---
import NewLayout from "../../../layouts/NewLayout.astro";
import arrowLeft from "../../../assets/images/arrow-left.png";
import LongArrow from "../../../assets/icons/LongArrow";
import ChevronIcon from "../../../assets/icons/ChevronIcon";
import BackButton from "../../../components/BackButton";
---

<NewLayout title="How Angor Works">
  <div class="flex mt-36 justify-between px-16 font-sans">
    <BackButton client:load />

    <div class="mx-auto">
      <div class="max-w-4xl w-full">
        <div class="flex items-start mb-20">
          <!-- <div
                class="bg-[#E8A1A1] w-20 h-20 rounded-full text-white flex justify-center items-center font-bold text-xs"
              >
                Sam
              </div>
              <div
                class="bg-[#E28989] w-20 h-20 rounded-full text-white flex justify-center items-center font-bold text-xs"
              >
                Mia
              </div>
              <div
                class="bg-[#DC7272] w-20 h-20 rounded-full text-white flex justify-center items-center font-bold text-xs"
              >
                Max
              </div> -->
          <div class="flex items-center mt-4 relative max-w-xs w-full">
            <div
              id="circle1"
              class="bg-[#086C81] w-28 h-28 z-10 scale-0 opacity-0 rounded-full text-white flex justify-center items-center font-bold text-xs"
            >
              Bob
            </div>
            <div class="absolute left-24">
              <LongArrow width={250} color={"#086C81"} id={"longArrow1"} />
            </div>
          </div>
          <div
            id="box1"
            class="border-4 border-dashed scale-0 opacity-0 border-[#FF9900] bg-[#FF990021] max-w-2xl pt-3 h-72 w-full rounded-3xl px-5"
          >
            <div class="flex items-start justify-between">
              <div class="flex flex-col items-center">
                <div
                  class="bg-[#FF9900] w-28 h-28 rounded-full text-white flex justify-center items-center font-bold text-xs"
                >
                  Milestone 1
                </div>
                <div id="circle2" class="flex flex-col items-center mt-3">
                  <div class="-rotate-90 mb-1">
                    <ChevronIcon color={"#47BFFF"} />
                  </div>
                  <div
                    class="bg-[#47BFFF] w-16 h-16 rounded-full flex justify-center items-center text-sm px-2 text-center text-white"
                  >
                    2.1 BTC
                  </div>
                </div>
              </div>
              <div class="mt-12">
                <LongArrow width={"100%"} color={"#086C81"} id={"longArrow2"} />
                <p class="text-center text-[#A96500] text-[16.24px]">Project</p>
              </div>
              <div class="flex flex-col items-center">
                <div
                  class="bg-[#FF9900] w-28 h-28 rounded-full text-white flex justify-center items-center font-bold text-xs"
                >
                  Milestone 2
                </div>
                <div id="circle3" class="flex flex-col items-center mt-3">
                  <div class="-rotate-90 mb-1">
                    <ChevronIcon color={"#47BFFF"} />
                  </div>
                  <div
                    class="bg-[#47BFFF] w-16 h-16 rounded-full flex justify-center items-center text-sm px-2 text-center text-white"
                  >
                    2.1 BTC
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="text-[#1D1D1D] font-semibold text-2xl text-center" id="text1">
          As the weeks passed, Bob completed the first two milestones, claiming
          2.1 BTC for each as the time-locks expired. The momentum was building,
          making his vision of <span>Urban Green Farms Initiative</span> seem increasingly
          achievable.
        </p>
      </div>
      <a
        href="/how-angor-works/7"
        class="w-60 h-14 rounded-md flex justify-center hover:bg-[#086C81] bg-angorPrimary items-center text-[#fff] text-xl font-bold my-28 mx-auto"
      >
        Next
      </a>
    </div>
  </div>
  <script>
    import { gsap } from "gsap";
    const circle1 = document.getElementById("circle1");
    const circle2 = document.getElementById("circle2");
    const circle3 = document.getElementById("circle3");
    const text1 = document.getElementById("text1");
    const box1 = document.getElementById("box1");
    const longArrow1 = document.getElementById("longArrow1");
    const longArrow2 = document.getElementById("longArrow2");
    gsap.to([circle1, box1], { scale: 1, opacity: 1, duration: 3 });
    gsap.to(longArrow1, { width: 250, delay: 2 });
    gsap.to(longArrow2, { width: "100%", delay: 3 });
    gsap.fromTo(
      circle2,
      { y: 60, delay: 2, opacity: 0 },
      { y: 0, delay: 2, opacity: 1, duration: 2 }
    );
    gsap.fromTo(
      circle3,
      { y: 60, delay: 3, opacity: 0 },
      { y: 0, delay: 3, opacity: 1, duration: 4 }
    );
    gsap.fromTo(
      text1,
      { x: -150, opacity: 0 },
      { x: 0, opacity: 1, duration: 2 }
    );
  </script>
</NewLayout>
