---
import { AngorLogo } from "../assets/logos/AngorLogo";
import Logo from "../assets/images/logo.svg";
---

<nav
  class="bg-angorPrimary w-full h-24 flex items-center fixed top-0 left-0 px-16 z-10"
>
  <div class="flex items-center gap-3">
    <div
      class="bg-[#FFFFFF] w-12 h-12 rounded-md flex justify-center items-center"
    >
      <img src={Logo.src} width="36.97" height="36.97" />
    </div>
    <p class="text-white font-bold text-2xl">ANGOR</p>
  </div>
  <!-- <AngorLogo/> -->
  <h2 class="text-4xl flex-1 text-center font-bold text-white font-Inter mr-28">
    How Angor works
  </h2>
</nav>
