---
import NewLayout from "../../../layouts/NewLayout.astro";
import arrowLeft from "../../../assets/images/arrow-left.png";
import CheckMark from "../../../assets/icons/CheckMark";
import XCircle from "../../../assets/icons/XCircle";
import BottomLine from "../../../assets/icons/BottomLine";
import LongArrow from "../../../assets/icons/LongArrow";
import ArrowLongg from "../../../assets/icons/ArrowLongg";
import BackButton from "../../../components/BackButton";
---

<NewLayout title="How Angor Works">
  <div class="flex mt-36 justify-between px-16 font-sans">
    <BackButton client:load />

    <div class="mx-auto">
      <div class="max-w-4xl w-full">
        <div class="flex items-center justify-between gap-6 mb-20 w-full">
          <!-- <div
                class="bg-[#E8A1A1] w-20 h-20 rounded-full text-white flex justify-center items-center font-bold text-xs"
              >
                Sam
              </div>
              <div
                class="bg-[#E28989] w-20 h-20 rounded-full text-white flex justify-center items-center font-bold text-xs"
              >
                Mia
              </div>
              <div
                class="bg-[#DC7272] w-20 h-20 rounded-full text-white flex justify-center items-center font-bold text-xs"
              >
                Max
              </div> -->
          <div class="relative">
            <div
              id="circle1"
              class="bg-angorPrimary w-36 h-36 scale-0 opacity-0 relative z-10 rounded-full text-white flex justify-center items-center font-bold text-xs"
            >
              Alice
            </div>
            <div class="absolute -rotate-[30deg] -top-32 left-16">
              <ArrowLongg color={"#022229"} width={620} id={"arrow1"} />
            </div>
            <div class="absolute -rotate-[25deg] -top-20 left-16">
              <ArrowLongg color={"#022229"} width={615} id={"arrow2"} />
            </div>
            <div class="absolute -rotate-[18deg] -top-7 left-16">
              <ArrowLongg color={"#086C81"} width={610} id={"arrow3"} />
            </div>
            <div class="absolute -rotate-[10deg] top-5 left-16">
              <ArrowLongg color={"#086C81"} width={610} id={"arrow4"} />
            </div>
          </div>
          <div id="rec1" class="flex flex-col items-center">
            <div
              class="bg-[#022229] w-[220px] h-[74px] rounded-md p-3 text-white flex items-center justify-center gap-2"
            >
              <p class="text-xl">Milestone 1</p>
              <CheckMark />
            </div>
            <BottomLine />
            <div
              class="bg-[#022229] w-[220px] h-[74px] rounded-md p-3 text-white flex items-center justify-center gap-2"
            >
              <p class="text-xl">Milestone 2</p>
              <CheckMark />
            </div>

            <BottomLine />

            <div
              class="bg-[#fff] border-2 border-[#086C81] w-[220px] h-[74px] rounded-md p-3 text-[#086C81] flex items-center justify-center gap-2"
            >
              <p class="text-xl">Milestone 3</p>
              <XCircle />
            </div>
            <BottomLine />

            <div
              class="bg-[#fff] border-2 border-[#086C81] w-[220px] h-[74px] rounded-md p-3 text-[#086C81] flex items-center justify-center gap-2"
            >
              <p class="text-xl">Milestone 4</p>
              <XCircle />
            </div>
            <div class="mt-2 flex flex-col gap-4 items-center">
              <div class="bg-[#086C81] w-7 h-7 rounded-full"></div>
              <div class="bg-[#086C81] w-6 h-6 rounded-full"></div>
              <div class="bg-[#086C81] w-5 h-5 rounded-full"></div>
              <div class="bg-[#086C81] w-4 h-4 rounded-full"></div>
              <div class="bg-[#086C81] w-3 h-3 rounded-full"></div>
            </div>
          </div>
        </div>
        <p class="text-[#1D1D1D] font-semibold text-2xl text-center">
          Just before the third milestone, Alice lost confidence in the project.
          Concerned about her investment, she decided to exit to avoid further
          losses.
        </p>
      </div>
      <a
        href="/how-angor-works/8"
        class="w-60 h-14 rounded-md flex justify-center mx-auto hover:bg-[#086C81] bg-angorPrimary items-center text-[#fff] text-xl font-bold my-28"
      >
        Next
      </a>
    </div>
  </div>
  <script>
    import { gsap } from "gsap";
    const arrow1 = document.getElementById("arrow1");
    const arrow2 = document.getElementById("arrow2");
    const arrow3 = document.getElementById("arrow3");
    const arrow4 = document.getElementById("arrow4");
    const circle1 = document.getElementById("circle1");
    const rec1 = document.getElementById("rec1");
    gsap.to(arrow1, { width: 620, duration: 2, delay: 4 });
    gsap.to(arrow2, { width: 615, duration: 2, delay: 4.5 });
    gsap.to(arrow3, { width: 610, duration: 2, delay: 5.5 });
    gsap.to(arrow4, { width: 610, duration: 2, delay: 6 });
    gsap.to(circle1, { opacity: 1, duration: 2, scale: 1 });
    gsap.fromTo(
      rec1,
      { opacity: 0, x: 70, duration: 3, delay: 2 },
      { opacity: 1, x: 0, duration: 3, delay: 2 }
    );
  </script>
</NewLayout>
